@media screen and (max-width: 450px) {
  :root:has(body.close), body.close .content {
    overflow: hidden;
  }

  body aside.sidebar {
    left: -100vw;
    transform: translateX(0);
    width: 100vw;

    h1.app-name {
      margin-top: 2rem;
    }
    
    .search {
      margin-top: auto;
      order: 99;
      
      .input-wrap {
        position: sticky;
        padding-left: 0.5rem;
        padding-right: 4rem;
        order: 99;
        border-top: 4px solid var(--bg-page);
        border-bottom: none;
      }
      .clear-button.show {
        right: 4rem;
      }
    }
  }
  
  body.close {
    .github-corner {
      transform: translateX(100vw);
    }
    .content {
      transform: translateX(100vw);
    }
    aside.sidebar {
      transform: translateX(100vw);
    }
  } 
}

aside.sidebar {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-base);

  ul {
    padding: 0!important;
    margin-left: 1rem!important;
  }

  .search {
    display: flex;
    flex-direction: column;
    z-index: 1;
    position: sticky;
    top: 0;
    bottom: 0;
    background-color: var(--bg-base);
    margin: 0;
    padding: 0;
    border: none;
    
    .input-wrap {
      position: sticky;
      top: 0;
      bottom: 0;
      padding: 0.5rem;
      background-color: var(--bg-base);
      border-bottom: 4px solid var(--bg-page);
    }

    .clear-button.show {
      position: absolute;
      min-height: 3rem;
      min-width: 3rem;
      display: inline-grid;
      place-items: center;
      border-radius: 0.25rem;
      right: 0.5rem;

      svg {
        display: none;
      }
      &::after {
        content: "×";
        position: absolute;
        font-size: 2rem;
        color: var(--text-muted);
        line-height: 0;
        translate: 0 -0.05rem;
      }

      &:hover {
        background-color: var(--bg-hover);
      }
      &:active {
        background-color: var(--bg-active);
      }
    }

    input {
      height: 3rem;
      padding-right: 3rem;
      padding-left: 1rem;

      background-color: var(--bg-page);
      border: 1px solid var(--text-muted);
      border-radius: 0.25rem;
      color: var(--text-base);
      
      &::placeholder {
        color: var(--text-gentle);
      }
      &:focus {
        box-shadow: none;
      }
    }

    .matching-post {
      border-bottom: 1px solid var(--text-muted);
      padding: 0.5rem;
      a {
        display: block;
        border-radius: 0.25rem;
        padding: 0.5rem;
      }
      a:hover {
        text-decoration: none;
        background-color: var(--bg-hover);
      }
      h2 {
        margin: 0;
        margin-bottom: 0.25rem;
        border: 0;
        font-size: 1.2rem;
        color: var(--text-gentle);
      }
      p {
        margin: 0;
        color: var(--text-gentle);
      }
    }
  }

  h1.app-name {
    margin: 0;
    margin-top: 1rem;
    padding: 0 2rem;
    img {
      width: 100%;
      height: 5rem;
    }
  }

  .sidebar-nav {
    padding-right: 1rem;
    padding-bottom: 2rem;
  
    li {
      --x-spacing: 0.5rem;

      * {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      
      & > p:not(:has(a)) {
        margin: 1rem var(--x-spacing) 0.5rem var(--x-spacing);
        line-height: 1.5;
        font-size: 0.9rem;
        color: var(--text-muted);
        border-bottom: 1px solid var(--text-muted);
      }
      
      a {
        display: block;
        padding: 0 var(--x-spacing);
        height: 2rem;
        color: var(--text-gentle);
        &:visited {
          color: var(--text-gentle);
        }
        border-radius: 0.25rem;
        &:hover, &:focus-visible {
          background-color: var(--bg-hover);
        }
        &:active {
          background-color: var(--bg-active);
        }
      }

    }

    li.active, p.active {
      > a {
        color: var(--accent);
        position: relative;
      }
      > a::after {
        content: "";
        display: block;
        position: absolute;
        width: 0.2rem;
        background-color: var(--accent);
        inset: 0.25rem;
        left: unset;
        border-radius: 50vh;
      }
    }
  }
}
