{
  "root": true,
  "extends": ["@pretty-cozy/eslint-config/base-ts"],
  "parserOptions": {
    "project": ["./tsconfig.json", "./tsconfig.node.json"]
  },
  "settings": {
    "import/resolver": {
      "typescript": {
        "alwaysTryTypes": true,
        "project": "./tsconfig.json"
      },
      "exports": {}
    }
  }
}
